.sidebarWrapper{
  height: 100vh;
  display: flex;
}
.sidebar{
  padding: 5px 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar{
  display: none;
}
.sidebarHandle{
  position: relative;
  height: 100%;
  width: 2px;
  background-color: rgb(70, 64, 64);
}

.sidebarHandle img{
  -webkit-user-drag: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.sidebarHandle img:hover{
  transform: translate(-50%,-50%) scale(1.1);
  filter: contrast(.6);
  cursor: pointer;
}
.searchingMessage{
  font-size: .6rem;

}
.searchResults{
  height: 500px;
  font-size: .8rem;
  background-color: rgb(244, 231, 209);
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.searchResults button{
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
}
.searchResults button:hover{
  transform: scale(.95);
}

.willowContainer{
  position: relative;
  height: 70px;
}
.willowContainer img{
  position:absolute;
}
.minitree{
  background-color: rgb(244, 231, 209);
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid;
}

.path{
  background-color: rgb(227, 206, 169);
  border-radius: 10px;
  padding: 5px 8px;
  margin-bottom: 5px;
}
.treeHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modes{
  display: flex;
  gap: 2px;
  margin: 5px;
}
.modes img{
  width: 25px;
}
.modes button{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .55rem;
}
.modes button:hover{
  transform: scale(1.1);
  background-color: #765efa65;
  cursor: pointer;
}

.search{
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.search button{ font-size: .7rem;}
.search input{
  width: 60%;
  opacity: .7;
  padding: 2px;
  font-size: .6em;
}
.search input:hover{
  opacity: 1;
}
.commonFolders{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.commonFolders section{
  border: 1px solid;
  font-size: .8rem;
  text-align: center;
  background-color: rgb(244, 231, 209);
}
.commonFolders section:hover{
  cursor: pointer;
  color: white;
  background-color: rgba(57, 75, 238, 0.486);
}
.parentDir{
  border: 1px solid;
  padding: 4px;
  font-size: .7rem;
  background-color: rgb(17, 14, 1);
  color: white;
  opacity: .6;
}
.parentDir:hover{
    background-color: rgb(35, 71, 71);
    cursor: pointer;
}
.dirName,.search_dirName{
  padding: 2px;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search_dirName{
  font-size: 1.2em;
}
.dirName::-webkit-scrollbar {
  display: none;
}
.file, .folder{
  border: 1px solid;
  border-top: none;
  font-size: .70rem;
  display: flex;
  align-items: center;
}
.file:hover, .folder:hover{
  background-color: rgb(91, 158, 158);
  color: white;
  cursor: pointer;
}

.folderWrapper{
  display: flex;
  align-items: center;
  position: relative;
}
.treemode > :first-child{
  border-top: 1px solid;
}
.toggleOpen{
  position: absolute;
  left: -8px;
  display: flex;
  align-items: center;
}
.folder{
  background-color: rgb(221, 204, 126);
  display: flex;
  justify-content:  space-between;
  flex: 1;
}
.openDir{
  border: none;
  background-color:rgb(199, 179, 87);
}
.openDir:hover{
  cursor: pointer;
  background-color:rgb(157, 136, 42);
  color: white;
}
.file{
  background-color: rgb(208, 233, 199);
}
.pinnedSection{
  overflow-y: auto;
  flex: 1;
  max-width: 100%;
}
.pinnedSection::-webkit-scrollbar{
  display: none;
  flex: 1;

}
.pinnedHeader{
  position: sticky;
  background-color: white;
  top: 0px;
  text-align: center;
  margin: 0px;
  font-size: .9rem;
}
.pinnedItems{
  display: flex;
  flex-wrap: wrap;
}
.pinnedEntry{
  border: 1px solid;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: .5rem;
  background-color: #f5c1c1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.pinnedEntry button{
  padding: 2px;
  border-radius: 10px;
  border: none;
  background-color: #ceb4b4;
}
.pinnedEntry button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.pinnedEntries:hover{
  cursor: pointer;
  background-color: white;
  transform: scale(1.03);
}

