*{
  box-sizing: border-box;
  user-select: none;
}
html, body, #root, .page-container{
  height: 100vh;
  margin: 0;
}
html{
  font-size: 20px;
}
.page-container{
  display: flex;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
